body {
    margin: 0;
    padding: 0;
    background-image: url(../image/background-image.jpg);
    background-attachment: fixed;
}

main {
    color: white;
}

.logo {
    height: 75px;
    margin: 12px 0 6px 90px;
}

header {
    background-color: black;
}

.container-introduction {
    text-align: center;
    line-height: 12px;
    margin-bottom: 40px;
}

main {
    margin-top: 10px;
}

h2 {
    font-family: "Neon Vampire";
    letter-spacing: 0.33rem;
    font-size: 26px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.link {
    color: rgb(200, 200, 200);
    font-size: 16px;
}

.link:hover {
    opacity: 0.5;
}

.index-style {
    background-color: black;
    background-attachment: scroll;
    margin: 0 137px;
    margin-top: 55px;
    padding: 10px 0 10px;
    border-radius: 3.5px;
    box-shadow: 0 0 100px #450cbd;
    height: 100%;
}

table {
    position: relative;
    margin: 0 auto 35px;
}

table tr {
    color: white;
}

.creation-link {
    margin: 0 0 3px 3.7%;
}

section a {
    text-decoration: none;
}

.container-main-creation section {
    text-align: center;
}

.container-main-creation input {
    width: 400px;
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
}

table,
td {
    border: 1px solid rgb(255,255, 255, 0.5);
    border-collapse: collapse;
    text-align: center;
    width: 1200px;
}

table img {
    height: 35px;
}

table img:hover {
    opacity: 0.5;
}

.container-main-change .change-title {
    margin-left: 8px;
}

.container-main-change form {
    margin: 22px 0 0 200px;
}

.container-main-change form a {
    margin-top: 100px;
}

.container-main-change a {
    text-decoration: none;
}

.container-main-change h2 {
    text-align: center;
}

.container-main-change input {
    width: 300px;
    height: 25px;
    border-radius: 7px;
    font-size: 14px;
}

.myButton {
	background-color: #440cbd;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	padding: 7px 70px;
	text-decoration: none;
    margin-top: 8px;
    border-width: 1.5px;
}
.myButton:hover {
	background-color: #2e0489;
}
.myButton:active {
	position: relative;
	top: 1px;
}

@font-face {
    font-family: "Neon Vampire";
    src: url("/font/Neon\ Vampire.ttf") format("tff"),
    url(/font/Neon\ Vampire.ttf) format("truetype");
   }